@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "../../../bower_components/font-awesome/less/font-awesome.less";



html, body {
    position: relative;
    width: 100%; height: 100%;
    font-family: 'Segoe UI', 'Ubuntu', arial;
}
body {
    min-height: 100%;
    background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Segoe UI Light', 'Ubuntu', arial;
    font-weight: 300;

}
h1, .h1 {
    margin: 30px 0;
    font-size: 56px;
}
h2, .h2 {
    font-size: 42px;
}

a {
    display: inline-block;
    color: #b2b2b2;
    cursor: default;
    text-decoration: none !important;

    & u {
        display: inline-block;
        line-height: 100%;
        text-decoration: none !important;
        border-bottom: 1px dashed rgba(178, 178, 178, 0.73); margin-bottom: -1px;
    }

    &:hover {
        color: #a2a2a2;
        & u {
            text-decoration: none !important;
            border-bottom-color: rgba(162, 162, 162, 0.93);
        }
    }

    &[href] {
        color: #4082C4;
        cursor: pointer;
        & u {
            border-bottom-color: rgba(64, 130, 196, 0.37);
            border-bottom-style: solid;
        }
        &:hover {
            color: #3169A0;
            & u {
                border-bottom-color: rgba(49, 105, 160, 0.73);
            }
        }
    }
}

.container {
    max-width: 100%;
    padding: 0 15px;
}

.layout-landing {
    margin: 10% 15%;

    & > section {
        margin-top: 15%;
    }
}

article {
    font-size: 16px;
}
    article > figure {
        margin: 0;
        padding: 15px 0;
    }
        article > figure > figcaption {
            margin: 1em 0;
        }

/**
 * Раскладка приложения
 */
.b-app {
    position: relative;
    width: 100%; height: 100%;
    overflow-y: scroll;

    &--head {
        position: absolute; top: 0; left: 0; z-index: 7;
        width: 100%; height: 80px;
        padding: 15px;
        background: transparent;
        > h1 {
            margin: 0;
            padding: 15px;
            line-height: 20px;
            font-size: 21px;
            font-weight: 700;
            border-bottom: 1px solid hsl(0, 0%, 87%);
        }
    }

    &--body {
        position: relative;
        width: 100%; min-height: 100%;
        padding: 80px 30px 0;
        background: transparent;
        &:before, &:after {
            display: table; content: ' ';
        }
        &:after {
            clear: both;
        }
    }

    &--side {
        float: left;
        position: relative;
        width: 0px;
        background: #fff;
    }

    &--view {
        position: relative;
        margin: 0 -15px; padding: 15px;
        background: #f2f2f2;
    }

    &--foot {
        background: #fff;
    }

    &--notification {
        &s {
            position: fixed; right: 0; bottom: 0; z-index: 100500;
            min-width: 420px;
            width: 37%;
            height: auto;
            max-height: 73%;
            margin: 0 30px;
            padding: 45px;
            overflow-y: auto;
            //background-color: rgba(255, 255, 255, 0.73);
        }
    }
}

.note {
    margin: 15px 0 0;
    padding: 15px;
    font-size: 12px;
    line-height: 14px;
    background: #F2F2F2;
    border: 0;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.73);
}



.b-btn {
    display: inline-block;

    background: #e2e2e2;
    border: 1px solid transparent; outline: none;

    font-family: 'segoe ui semibold', 'segoe ui', 'ubuntu', arial;
    font-weight: 500;
    font-size: 14px;

    color: #444;

    white-space: nowrap;

    & {
        padding: 9px 14px;
        line-height: 20px;
    }
    &-sm {
        padding: 4px 9px;
        font-family: 'segoe ui', 'ubuntu', arial;
        font-size: 12px;
    }
    &-lg {
        padding: 14px 19px;
        font-size: 16px;
    }

    &-default {
        background: #74589E;
        color: #f2f2f2;
    }
    &-primary {
        background: #4082C4;
        color: #f2f2f2;
    }
    &-success {
        background: #74AC2C;
        color: #f2f2f2;
    }
    &-warning {
        background: #ED8F06;
        color: #f2f2f2;
    }
    &-failure, &-danger {
        background: #EA493C;
        color: #f2f2f2;
    }
}
blockquote {
    padding: 20px 30px 20px 25px;
    background: #F2F2F2;
    border-left-color: #E2E2E2;
    h3 {
        margin: 0 0 10px;
        font-family: 'segoe ui semibold', 'segoe ui', 'ubuntu', arial;
        font-weight: 500;
    }
}
blockquote.default {
    background: #DFD8E9;
    border-left-color: #74589E;
    h3 {
        color: #74589E;
    }
}
blockquote.primary {
    background: #DCE8F4;
    border-left-color: #4082C4;
    h3 {
        color: #4082C4;
    }
}
blockquote.success {
    background: #DCEFC2;
    border-left-color: #74AC2C;
    h3 {
        color: #74AC2C;
    }
}
blockquote.warning {
    background: #FDE0B4;
    border-left-color: #ED8F06;
    h3 {
        color: #ED8F06;
    }
}
blockquote.failure, blockquote.danger {
    background: #F9CBC8;
    border-left-color: #EA493C;
    h3 {
        color: #EA493C;
    }
}
