extends ./layout



block b-page
    section

        hgroup
            h1
                a(href) Awesome
            h2
                p frontend framework
                p for advanced 
                    a(href): u AngularJS
                p applications
