mixin bDialog(type)
    - if ('app' == type)
        .b-dialog(ng-if="app.dialog.overlay", ng-init="dialog=app.dialog")
            if block
                block
            else
                +bDialogArea()
                +bDialogMain()
    - if ('view' == type)
        .b-dialog(ng-if="view.dialog.overlay", ng-init="dialog=view.dialog")
            if block
                block
            else
                +bDialogArea()
                +bDialogMain()

mixin bDialogArea()
    .b-dialog--area(ng-click="hideViewDialog()")

mixin bDialogMain()
    .b-dialog--main
        if block
            block

mixin bDialogHead()
    .b-dialog--head
        if block
            block

mixin bDialogActs()
    .b-dialog--acts
        if block
            block

mixin bDialogActClose()
    a(ng-click="hideViewDialog()"): i.icon-remove

mixin bDialogTabs()
    .b-dialog--tabs
        if block
            block

mixin bDialogBody()
    .b-dialog--body
        if block
            block



mixin bEditDialog()
    .b-dialog--dialog(ng-if="edit.dialog.overlay", ng-init="dialog=edit.dialog", ng-controller="EditDialogCtrl")
        if block
            block
        else
            +bEditDialogArea()
            +bEditDialogMain()

mixin bEditDialogArea()
    .b-dialog--dialog--area(ng-click="hideEditDialog()")

mixin bEditDialogMain()
    .b-dialog--dialog--main
        if block
            block

mixin bEditDialogHead()
    .b-dialog--dialog--head.b-dialog--head
        if block
            block

mixin bEditDialogActs()
    .b-dialog--dialog--acts.b-dialog--acts
        if block
            block

mixin bEditDialogActClose()
    a(ng-click="hideEditDialog()"): i.icon-remove

mixin bEditDialogBody()
    .b-dialog--dialog--body.b-dialog--body
        if block
            block


mixin bLoginAppDialog()
    .b-dialog--dialog--body.b-dialog--body
        if block
            block
        else
            +bAppDialog()
                +bAppDialogArea()
                +bAppDialogMain()

                    .b-users-login-dialog(ng-if="'login'==dialog.overlay", ng-controller="LoginAppDialogCtrl")
                        +bAppDialogHead()
                            i.icon-signin
                            span Пример диалогового окна
                            +bAppDialogActs()
                                +bAppDialogActClose()
                        +bAppDialogBody()
                            section Диалог
